<h2>Clientes</h2>

<ul>
    <li>Cliente1</li>
    <li>Cliente2</li>
    <li>Cliente3</li>
</ul>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint ratione nesciunt alias est explicabo officiis blanditiis. Debitis, itaque? Ab animi ipsam velit molestias assumenda, consequuntur dignissimos saepe sequi quaerat voluptatem.</p>